<div class="layout layout--col layout--center">
  <div class="flex flex--col flex--center-x flex--center-y gap--small" style="height:100%;">
    <span class="title--small">Calendar + Weather</span>
    <span class="description text--gray-50">This plugin is designed for full screen view only.</span>
  </div>
</div>
